<div id="articles">
    <h2 id="title">{{this.title}}</h2>
    <a href= {{this.link}} class="btn btn-primary" id="link">View Article</a>
    <button type="submit" class="btn btn-success" id="saveBtn">Save Article</button>
</div>