<div class="article">
    <h2 id="title">{{this.title}}</h2>
    <a href= {{this.link}} class="btn btn-primary" id="link">View Article</a>
    <button type="submit" class="btn btn-success" id="save">Save Article</button>
</div>