<div class="comment" type="hidden">
    <form action="" method="POST">
        <div class="form-group">
            <label type="hidden" for="title">Title</label>
            <input type="hidden" name="title" id="comment-title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="new-comment">Comments</label>
            <textarea name="new-comment" id="new-comment" cols="30" rows="10">Your Text</textarea>
        </div>
    </form>
</div>