<header class="header">
    <h1 class="heading">NFL News</h1>
    <h3 class="subheading">Your Headlines Around the National Football League</h3>
    <nav class="navbar">
        <ul class="nav-bar">
            <a href="/" class="btn btn-primary" id="get-articles">Home</a>
            <a href="/articles" class="btn btn-primary" id="get-articles">Saved Articles</a>
            <a href="/scrape" class="btn btn-primary" id="get-articles">Scrape Articles</a>
        </ul>
    </nav>
</header>